<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<ul>
    <table class="table table-striped" th:each="event : ${events}">
        <tr>
            <td th:text="${event.getName()}"></td>
            <td th:text="${event.getDesc()}"></td>
            <td> <img th:src="@{${event.getPictureURL()}}" style="width:40px;height:60px"> </td>
           <!-- if using picture from web
            <td><img th:src="${event.getPictureURL()}"></td>-->
            <!--<td th:replace="fragments :: home-link"></td>-->
        </tr>
    </table>
</ul>

</body>
</html>